<div class="container-fluid">
  <div class="container">
    <h1 class="list-title">Edit Customer</h1>
    <form [formGroup]="editForm" (ngSubmit)="update()">
      <div class="row">
        <div class="form-group col">
          <label for="exampleInputEmail1">Name</label>
          <input
            formControlName="name"
            type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="form-group col">
          <label for="exampleInputPassword2">Date of birth</label>
          <input
            formControlName="dateOfBirth"
            type="date" class="form-control" id="exampleInputPassword2" >
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="idCard">Id card</label>
          <input
            formControlName="idCard"
            type="text" class="form-control" id="idCard" >
        </div>
        <div class="form-group col">
          <label for="phoneNumber">Phone number</label>
          <input
            formControlName="phoneNumber"
            type="text" class="form-control" id="phoneNumber" >
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="email">Email</label>
          <input
            formControlName="email" type="text" class="form-control" id="email" >
        </div>
        <div class="form-group col">
          <label for="email">Address</label>
          <input
            formControlName="address"
            type="text" class="form-control" id="address" >
        </div>
      </div>
      <div class="form-group">
        <label for="customerType">Customer type</label>
        <select  class="form-control col-12" id="customerType" formControlName="customerType">
          <option *ngFor="let customerType of customerTypeList" [value]="customerType.id" [selected]="customerTypeId === customerType.id"> {{customerType.name}}</option>
        </select>
      </div>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-outline-secondary" routerLink="/customer">Back</button> &nbsp;
        <button type="submit" class="btn btn-outline-success" >Save</button>
      </div>
    </form>


  </div>
</div>
