<main>
  <div class="container">
    <div class="carousel slide" id="main-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="https://images.wallpaperscraft.com/image/maldives_tropical_resort_evening_90624_1920x1080.jpg" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1>Furama Resort</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://images.wallpaperscraft.com/image/city_night_panorama_117682_1920x1080.jpg" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h3>Furama Resort</h3>
            <p>Nếu đang có định dẫn người yêu "đi trốn" vài ngày, thì khu nghỉ dưỡng này chắc chắn sẽ là một nơi trú ẩn hoàn toàn phù hợp. Lãng mạn, chu đáo, thiết kế phòng tinh tế, riêng tư,... nhiêu đây thôi chắc cũng đủ khiến các đôi tình nhân đắm chìm trong thế giới yêu đương rồi nhỉ.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://images.wallpaperscraft.com/image/tropical_resort_palm_trees_90876_1920x1080.jpg" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h3>Furama Resort</h3>
            <p>Đây cũng là một trong những resort sang trọng bậc nhất của Việt Nam, thế nên, giá phòng cũng thuộc vào hàng "ngất ngưởng" nhưng những dịch vụ ở "thiên đường" này chắc chắn hoàn toàn xứng đáng với khoản chi phí bạn đã bỏ ra cho kì nghỉ.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.wallpaperscraft.com/image/maldives_tropical_beach_resort_evening_90628_1920x1080.jpg" alt="" class="d-block img-fluid">
          <div class="carousel-caption d-none d-md-block">
            <h3>Furama Resort</h3>
            <p>Mỗi biệt thự tại Furama resort đều có bể bơi riêng, không gian tắm trong nhà, ngoài trời. Ngoài việc thả mình trong làn nước mát lành, bạn có thể tham gia nhiều các hoạt động thú vị khác mà hoàn toàn miễn phí như tập thái cực quyền, chèo thuyền kayak, leo núi, lặn biển ngắm san hô, lướt ván…</p>
          </div>
        </div>
      </div>

      <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only" aria-hidden="true">Prev</span>
      </a>
      <a href="#main-carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only" aria-hidden="true">Next</span>
      </a>
    </div>
  </div>
</main>
