<main>
  <div class="container">
    <div class="carousel slide" id="main-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="https://images.wallpaperscraft.com/image/girl_umbrella_anime_141156_1920x1080.jpg" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1>Anime World</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://images.wallpapersden.com/image/download/akame-anime-coolest-art_bGlrZ2aUmZqaraWkpJRmbmdlrWZlbWU.jpg" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="color: red">Akame ga kill</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://wallpaperaccess.com/full/110679.png" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="color: white">Future Diary</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/da/e6/4d/dae64de19d74c39444a8e1bc671ee7e8.jpg" alt="" class="d-block img-fluid">
          <div class="carousel-caption d-none d-md-block">
            <h2 style="color: whitesmoke">Your Name</h2>
          </div>
        </div>
      </div>

      <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only" aria-hidden="true">Prev</span>
      </a>
      <a href="#main-carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only" aria-hidden="true">Next</span>
      </a>
    </div>
  </div>
</main>
