<h1 class="text-center mt-2 ">List Customer</h1>

<div class="navbar navbar-light bg-light justify-content-between">
  <div class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="search($event.target['value'])">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><i class="fas fa-search"></i></button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID Book</th>
    <th scope="col">ID Customer</th>
    <th scope="col">Name Customer</th>
    <th scope="col">Start Date</th>
    <th scope="col">Start Time</th>
    <th scope="col">EXP</th>
    <th scope="col">Money</th>
    <th scope="col">xMoney</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of bookList">
    <td>{{book.id}}</td>
    <td>{{book.customer.id}}</td>
    <td>{{book.customer.name}}</td>
    <td>{{book.startDate}}</td>
    <td>{{book.startTime}}</td>
    <td>{{book.exp}}</td>
    <td>{{book.money}}</td>
    <td>{{book.xMoney}}</td>
    <td>
      <a class="btn btn-outline-primary" style="text-decoration: none;margin-right: 3px" [routerLink]="['edit',book.id]"><i class="fas fa-user-edit"></i></a>
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete" (click)="getId(book.id)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you want to delete Book {{idBook}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>



