<!--<app-font-size></app-font-size>-->
<!--<app-pet-info></app-pet-info>-->
<!--<app-color-picker></app-color-picker>-->
<app-calculate></app-calculate>
<!--<app-student-management></app-student-management>-->
<!--<app-hacker-news></app-hacker-news>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar width="65"></app-progress-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-pipes></app-pipes>-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->
<!--<app-register-final></app-register-final>-->
