<h1 class="text-center mt-2 ">List Employee</h1>

<div class="navbar navbar-light bg-light justify-content-between">
  <a class="btn btn-outline-success" routerLink="create">+ Add new Employee</a>
  <div class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="search($event.target['value'])">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><i class="fas fa-search"></i></button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">ID Card</th>
    <th scope="col">Email</th>
    <th scope="col">Position</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employeeList">
    <td>{{emp.id}}</td>
    <td><a [routerLink]="['view',emp.id]">{{emp.name}}</a></td>
    <td>{{emp.idCard}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.position}}</td>
    <td>
      <a class="btn btn-outline-primary" style="text-decoration: none;margin-right: 3px" [routerLink]="['edit',emp.id]"><i class="fas fa-user-edit"></i></a>
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete" (click)="getId(emp.id)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you want to delete employee?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>
