<div class="container-fluid" style="color: whitesmoke">
  <div class="container">
    <h1 class="list-title">Edit Employee</h1>
    <form [formGroup]="editForm" (ngSubmit)="update()">

      <div class="row">
        <div class="form-group col">
          <label for="name">Name</label>
          <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" >
        </div>
        <div class="form-group col">
          <label for="birthday">Date of birth</label>
          <input formControlName="dateOfBirth" type="date" class="form-control" id="birthday" >
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="idCard">Id card</label>
          <input formControlName="idCard" type="text" class="form-control" id="idCard" >
        </div>
        <div class="form-group col">
          <label for="phoneNumber">Phone number</label>
          <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber" >
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="email">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email" >
        </div>
        <div class="form-group col">
          <label for="salary">Salary</label>
          <input formControlName="salary" type="text" class="form-control" id="salary" >
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="position">Position</label>
          <select class="form-control" formControlName="position" id="position">
            <option value="Lễ Tân"> Lễ Tân </option>
            <option value="Phục Vụ"> Phục Vụ </option>
            <option value="Chuyên Viên"> Chuyên Viên </option>
            <option value="Giám Sát"> Giám Sát </option>
            <option value="Quản Lí"> Quản Lí </option>
            <option value="Giám Đốc"> Giám Đốc </option>
          </select>
        </div>
        <div class="form-group col">
          <label for="division">Division</label>
          <select class="form-control" formControlName="division" id="division">
            <option value="Tài Chính - Marketing">Tài Chính - Marketing</option>
            <option value="Hành Chính">Hành Chính</option>
            <option value="Phục Vụ">Phục Vụ</option>
            <option value="Quản Lí">Quản Lí</option>
          </select>
        </div>
      </div>

      <div>
        <label for="degree">Education Degree</label>
        <select  class="form-control col-12" formControlName="degree" id="degree">
          <option value="Sau Đại Học">Sau Đại Học</option>
          <option value="Đại Học">Đại Học</option>
          <option value="Cao Đẳng">Cao Đẳng</option>
          <option value="Trung Cấp">Trung Cấp</option>
        </select>
      </div>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-outline-secondary" routerLink="/employee">Back</button> &nbsp;
        <button type="submit" class="btn btn-outline-success" >Save</button>
      </div>
    </form>


  </div>
</div>
