<h1 class="list-title " style="color: whitesmoke">List Customer</h1>

<div class="navbar navbar-light bg-light justify-content-between">
  <a class="btn btn-outline-success" routerLink="create">+ Create Customer</a>
  <div class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="search($event.target['value'])">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><i class="fas fa-search"></i></button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr style="color: whitesmoke">
    <th scope="col" >ID</th>
    <th scope="col">Name</th>
    <th scope="col">ID Card</th>
    <th scope="col">Email</th>
    <th scope="col">Customer Type</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cus of customerList | paginate: { itemsPerPage: 4, currentPage: p }" style="color: whitesmoke">
    <td>{{cus.id}}</td>
    <td><a style="color: red" [routerLink]="['view',cus.id]">{{cus.name}}</a></td>
    <td>{{cus.idCard}}</td>
    <td style="color: whitesmoke">{{cus.email}}</td>
    <td style="color: whitesmoke">{{cus.customerType.name}}</td>
    <td>
      <a class="btn btn-outline-light" style="text-decoration: none;margin-right: 3px" [routerLink]="['edit',cus.id]"><i class="fas fa-user-edit"></i></a>
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete" (click)="getId(cus.id)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you want to delete customer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>



