<div class="container-fluid" style="color: whitesmoke">
  <div class="container">
    <h1 class="text-center mt-3">Inform Customer</h1>
    <div>
      <div class="mx-5 row">
        <div class="col-6">
          <div>
            <label for="nameCustomer" class="col-form-label">Name</label>
            <input [value]="customer.name" class="form-control" type="text" id="nameCustomer" readonly>
          </div>
          <div>
            <label for="idCustomer" class="col-form-label">ID Card</label>
            <input [value]="customer.idCard" class="form-control" type="text" id="idCustomer" readonly>
          </div>
          <div>
            <label for="email" class="col-form-label">Email</label>
            <input [value]="customer.email"  class="form-control" type="email" id="email" readonly>
          </div>
        </div>
        <div class="col-6">
          <div>
            <label for="dateOfBirth" class="col-form-label">Date of birth</label>
            <input [value]="customer.dateOfBirth" class="form-control" type="text" id="dateOfBirth" readonly>
          </div>
          <div>
            <label for="phoneNumber" class="col-form-label">Phone Number</label>
            <input [value]="customer.phoneNumber" class="form-control" type="text" id="phoneNumber" readonly>
          </div>
          <div>
            <label for="address" class="col-form-label">Address</label>
            <input [value]="customer.address" class="form-control" type="text" id="address" readonly>
          </div>
        </div>
        <div class="col-12">
          <div>
            <label for="typeCustomer" class="col-form-label">Type Customer</label>
            <input [value]="customer.customerType.name" class="form-control" id="typeCustomer" readonly>
          </div>
          <br>
          <div class="text-center">
            <button type="button" class="btn btn-outline-success" [routerLink]="['/customer']">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
