<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a routerLink="" class="img logo rounded-circle mb-5" style="background-image: url(../assets/image/logo.jpg);"></a>
      <ul class="list-unstyled components mb-5">
        <li>
          <a routerLink=""><i class="fas fa-home"></i> Home Page</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i> People</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a routerLink="customer">Customer</a>
            </li>
            <li>
              <a routerLink="employee">Employee</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fab fa-servicestack"></i> Service</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-file-signature"></i> Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-lock"></i> Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
